body{
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
    background-color:black;
}
header{
    position:fixed;
    background-color: white;
    width:100%;
    z-index: 1000;;
}
.menu-1 {
    margin-left: 0px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}

.menu li a{
    text-decoration: none;
    color: black;
    border-right:2px solid black;
    padding-right:10px;
}
.nav-item .nav-link {
    cursor: pointer;
}

.nav-item .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    color: #620749;
    font-weight: bold;
}
.right-side-navbar{
     cursor: pointer;

}
.right-side-navbar:hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    color: #620749;
    font-weight: bold;
}
/*profile --*/
 .profile-wrapper {
  position: relative;
  cursor: pointer;
}


.profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 220px;
  background: #fff;
  display: none;
  border-radius: 6px;
  z-index: 999;
}

.profile-wrapper:hover .profile-dropdown {
  display: block;
}
.profile-icon{
    width:auto;
    height:40px;
}

.profile-header {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.profile-dropdown a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.profile-dropdown a:hover {
  background-color: #f5f5f5;
}

.profile-dropdown .logout {
  color: red;
}
/* End profile --*/

.icon{
    margin:20px;
    border: 1px solid black;
    justify-content: center;
}

.header-container {
    width: 100%;
    height: 60px;
}

.meeshologo {
    height: 60px;
    width: 190px;
    padding-top: 0px;
    margin-left: 20px;
    margin-right: 30px;
}

.banner {
    background-image: url('assets/bg-home-1.webp');

    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: blueviolet;
}

.profile-icon {
    width: 40px;
    height: 20px;
}


.banner-content {
    padding: 90px;
    text-align: end;
}

.btn-banner {
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-right: 60px;
    color: mediumorchid;
    font-size: 20px;

}

.box {
    width: 100%;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    background-color: white;
}

.box-1 {
    width: 30%;
    height: 20%;
    border-radius: 40px;
    cursor: pointer;

}

.box-1:hover {
    transform: scale(1.05);

}

.card-image {
    width: 100%;
    height: 200px;
    
}

.banner-2 {
    background-image: url('assets/banner-2.webp');
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-position: top-center;

}
.card-group{
    cursor: pointer;
    
    
}
.card-group  a{
    text-decoration:none;
}
.card-group:hover{
    transform: scale(1.05);

}
.card-group-head{
    font-size:20px;
}

.image-offer{
    width:150px;
    text-decoration: none !important;
}

.btn-banner-2 {
    background-color: brown;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
   
    color: white;
    font-size: 20px;


}

.banner-content-2 {
    margin-top: 0px;
    padding-right: 90px;
    text-align: end;
}

.image {
    color: white;
    width:10%;
    margin:10px;
    height:10%;
    padding-top:0px;

}

.image:hover {
    transform: scale(1.05);

}

.d-block {
    width: 20%;
    height: 10%;
}

.card {
    width: 50%;
    height: 30%;
    margin: 20px;
}
.card:hover{
      transform: scale(1.05);

}

.banner-3 {
    background-image: url('assets/banner-3.webp');
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-position: center;

}

.banner-content-3 {
    text-align: end;
    margin-left: 40%;

}
.cont{
    background-color:#C98895;
    padding:1px;
}

