header{
    position:fixed;
    z-index :1000;
    background-color: white;
    width:100%;
}
.menu-1 {
    margin-left: 0px;
    background-color:white;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}
.nav-item .nav-link {
    cursor: pointer;
}
.menu li a{
    text-decoration: none;
    color: black;
    border-right:2px solid black;
    padding-right:10px;
}
.nav-item .nav-link {
    cursor: pointer;
}

.nav-item .nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness:5px;
    color: #620749;
    font-weight: bold;
}
.right-side-navbar{
     cursor: pointer;

}
.right-side-navbar:hover {
    text-decoration: underline;
    text-decoration-thickness:2px;
    color: #620749;
    font-weight: bold;
}
/*cards*/
.product-img{
    width:100%;
    height:220px;
    display:block;
}
.card-title{
    font-size:16x;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    overflow:hidden;
    min-height:48px;
}
.card:hover .product-img{
    transform:scale(1.02);
}
.card{
    transition: transform 0.3s;
    object-fit: hidden;

}
.card:hover{
    transform:scale(1.05);
}



/* js style*/
.cart {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.count {
  position: absolute;
  top: -8px;
  right: -8px;
  background:  #620749;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 1px 5px;
}